{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}
    {% for class, entity in data %}
        <h3>{{ class }}</h3>
        {{ dump(entity) }}
    {% endfor %}
{% endblock %}
